:root{
    --vert-principal:#027a1c;
    --vert-secondaire:#027b1d;
    --vert-action:#18fa22;
    --jaune:#eabe07;
    --rouge:#c61827;
    --jaune-prime:rgb(174, 213, 19);
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
   
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--vert-principal);
        color:black;
        padding:1rem;
        text-align:center;
        gap: 2rem;
        padding-bottom: 1rem;

        .hero-text {
            display: flex;
            flex-direction: column;
            align-items:center;
            gap: 1rem;
            .hero-lien a{
                background:var(--jaune-prime);
                padding:0.937rem 1.875rem;
                border:none;
                font-weight:bold;
                border-radius: 2rem;
                text-decoration: none;
            } 

            span{
                color: var(--jaune-prime);
            }
            p{
                margin-top: 0;
                font-size: 1.5rem;
            }
        }

        .hero-logo img{
            height: 15rem;
            border-radius: 2rem;
        }
    }

    main{

        .probleme{
            margin-top: 0rem;
            padding:3.75rem;
            background:#f6f6f6;
            text-align:center;
            span{
                color: var(--vert-secondaire);
            }
           h2{
            font-size: 1.5rem;
           }
           .contenu-probleme{
                display:flex;
                justify-content:center;
                align-items:center;
                gap:3.125rem;
                margin-top:1.875rem;

                .liste ul{
                    columns:2;
                    list-style:none;
                    text-align:left;

                    li{
                        margin-bottom: 0.625rem;
                    }

                    li::before{
                        content:"✔ ";
                        color:#c61827;
                        font-weight:bold;
                    }
                }
                .image img{
                    width:13.875rem;
                }
            }
            
        }

        .parcours{
            padding:3.75rem;
            background:#f7f4ef;
            text-align:center;
        }

        .parcours h2{
            font-size:2rem;
            margin-bottom:2.5rem;
        }

        .parcours span{
            color:#027a1c;
        }

        .cards{
            display:flex;
            justify-content:center;
            gap:1.562rem;
        }

        .card{
            background:white;
            border-radius:0.937rem;
            padding:1.562rem;
            width:14.375rem;
            box-shadow:0 0.312rem 0.937rem rgba(0,0,0,0.1);
            text-align:left;
            border:0.125rem solid #eee;


            
           

            .icon{
                font-size:2.187rem;
                margin-bottom:0.625rem;
            }

            .card h3{
                margin: bottom 0.625rem;;
            }

            .card ul{
                padding-left:1.25rem;
                margin-bottom:1.25rem;
            }

            .card li{
                margin: bottom 0.625rem;;
            }

            .prix{
                font-weight:bold;
                color:#027a1c;
                text-align:center;
            }
        }
        .card.active{
            border:0.125rem solid #027a1c;
        }

       
            
    }    
}
